language: node_js

notifications:
  email: false

node_js:
  - "12.16.2"

services:
  - postgresql
  - redis

before_script:
  - cp -a .env.example .env
  - psql -c "CREATE DATABASE retyp;" -U postgres
  - psql -c "CREATE USER retyp WITH PASSWORD 'password';" -U postgres

before_install:
  - openssl aes-256-cbc -K $encrypted_63cbc52e9149_key -iv $encrypted_63cbc52e9149_iv
    -in .travis/deploy_rsa.enc -out .travis/deploy_rsa -d

install: npm install

jobs:
  include:
    - stage: Tests
      if: |
        branch = develop AND \
        tag IS blank AND \
        commit_message !~ /(no-deploy|wip)/
      script: 
        - npm run lint
        - npm run test:coverage
        - npm run test:coveralls

    # Build and push current version
    - stage: Build Docker image
      if: branch = master
      script:
      - "PACKAGE_VERSION=$(cat package.json | grep version | head -1 | awk -F: '{ print $2 }' | sed 's/[\",]//g' | tr -d '[[:space:]]')"
      - echo "==== Building retyp/api:$PACKAGE_VERSION ===="
      - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - docker build -t retyp/api .
      - docker images
      - docker tag retyp/api retyp/api:current
      - docker tag retyp/api retyp/api:${PACKAGE_VERSION}
      - docker push retyp/api:current
      - docker push retyp/api:${PACKAGE_VERSION}

    # Deploy latest API version
    - stage: Deploy
      if: branch = master
      script:
        - sh .travis/deploy.sh
        
cache:
  directories:
    - node_modules